<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("head") -%>
</head>

<body>
    <%- include ("header") -%> 

    <main class="contact-page">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">Book Bank</h1>
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0 pr-lg-5 wow fadeInLeft">
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13772.375663103301!2d76.40735068262438!3d30.348280708362775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39102861555fb343%3A0x2e5039ca07c63daa!2sGuru%20Nanak%20Nagar%2C%20Patiala%2C%20Punjab!5e0!3m2!1sen!2sin!4v1609966152176!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            
                    </div>
                </div>
                <div class="col-md-6 pl-lg-5 wow fadeInRight">
                   <h3> For Donations/Inquiries please contact Abhishek Jalota (9877105782). </h3>
                   <h4> <i> Appreciation Certificates will be given for the books donated. </i> </h4>
                </div>
            </div>
        </div>
    </main>

    <%- include ("footer") -%> 
    <%- include ("socials") -%> 

    <%- include ("footerScripts") -%> 

</body>


</html>