<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("head") -%> 
</head>

<body>
    <%- include ("header") -%> 

    <main class="blog-grid-page">
        <div class="container">
            <h1 class="oleez-page-title wow fadeInUp">Videos</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/58tJs5I3eIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">6 June 2021</p>
                        <h5 class="blog-post-title">Hang weight with supporting technique</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3rlf2WU697A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">5 July 2021</p>
                        <h5 class="blog-post-title">Tulsi Day Speech (5th July)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/0bGKuVworxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">18 October 2020</p>
                        <h5 class="blog-post-title">Color Wheel Activity</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/xvy3TmWEvoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">20 Octover 2020</p>
                        <h5 class="blog-post-title">Speech on Sir Jagadish Chandra Bose (Punjabi)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/sy0e9YNXjQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">21 October 2020</p>
                        <h5 class="blog-post-title">Speech on Sir Jagadish Chandra Bose (Hindi)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Xkw-KgG5zKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">14 October 2020</p>
                        <h5 class="blog-post-title">Circuit of Salty water</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qtXLsuCKnbk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">6 June 2021</p>
                        <h5 class="blog-post-title">Magic of Science</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kGkZOp1be9c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">6 June 2021</p>
                        <h5 class="blog-post-title">Magic of Scicene (Explained)</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-post-card wow fadeInUp">
                        <div class="blog-post-thumbnail-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/NEcbBiifIWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p class="blog-post-date">12 Nov 2020</p>
                        <h5 class="blog-post-title">Speech on world science day 2020</h5>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12 pb-5 mb-5">
                        <nav class="oleez-pagination d-flex align-items-center justify-content-center wow fadeInUp">
                            <a href="#!" class="active">01</a>
                            <a href="#!">02</a>
                            <a href="#!">03</a>
                            <a href="#!" class="next">&rarr;</a>
                        </nav>
                </div>
            </div> -->
        </div>
    </main>

    <%- include ("footer") -%> 
    <%- include ("socials") -%> 

    <%- include ("footerScripts") -%> 
    </body>

    </html>